Localization
{
	ja-jp
	{
		#autoLOC_SCANsat_BTDT_Title			= SCAN Been There Done That®
		#autoLOC_SCANsat_BTDT_Description		= この小さなセンサーは自動的に近傍のアノマリーを識別します. 非常に短距離かつ低高度でしか動作しないため, もっぱら既に訪れた識別済みのアノマリーを再訪するのに便利でしょう.

		#autoLOC_SCANsat_BTDT_Exo_Description 		= このモデルのスキャン装置は, 近傍の興味深い特徴を素早く指し示すように設計されたパッシブおよびアクティブセンサーを搭載しています. 

		#autoLOC_SCANsat_Multi_Title			= SCAN マルチスペクトルセンサー
		#autoLOC_SCANsat_Multi_Description		= このマルチチャネルセンサーは赤外, 可視, レーダーにまたがるいくつかの帯域を検知します. これにより地形とバイオームを判別することができます. また地表にある構造物などのアノマリーも検知します.

		#autoLOC_SCANsat_Radar_Title			= SCAN レーダー高度計
		#autoLOC_SCANsat_Radar_Description		= SCAN はこちらの高性能レーダー高度計を提供します. この装置はこのシリーズのエントリーモデルで, よく玩具のロケットやラジコン飛行機とセットで販売されています. 消費者モニターへのテストで対象者の95%がロケットのノズルにダクトテープで固定しようとすることが明らかになったため, 現在の改良型はさらに使いやすくなりました.

		#autoLOC_SCANsat_SAR_Title			= SCAN 合成開口高度計
		#autoLOC_SCANsat_SAR_Description		= この合成開口レーダーは飛行経路を大きなアンテナをシミュレートするのに利用します. これによってより高解像度での標高の測定が可能になります. 欠点は相対的に視野が狭くなり, かつより高い軌道でよく機能します.

		#autoLOC_SCANsat_Radar3B_Title				= R-3B レーダー高度計
		#autoLOC_SCANsat_Radar3B_Description	= この高精度レーダー高度計は衛星直下のごく狭い幅の基礎的標高データを収集できます. ほどほどの電力を消費し昼半球でも夜半球でも機能します.
		
		#autoLOC_SCANsat_RadarEO_Title				= R-EO-1 レーダーアンテナ
		#autoLOC_SCANsat_RadarEO_Description	= このエントリーレベルのLバンドレーダー高度計は低解像度標高データを中程度の観測幅で低軌道から収集します. ほどほどの電力を消費し昼半球でも夜半球でも機能します.
	
		#autoLOC_SCANsat_SARX_Title				= SAR-X アンテナ
		#autoLOC_SCANsat_SARX_Description	= 基本的な合成開口レーダーで, レーダー波を発信し, 発信中の衛星の移動を利用して遥かに大きなアンテナを合成して受信します. 低軌道から極めて狭い観測幅で高解像度標高データを効率的に取得します. 大電力を消費しますが昼半球でも夜半球でも動作します.
		
		#autoLOC_SCANsat_SARC_Title				=  SAR-C アンテナ
		#autoLOC_SCANsat_SARC_Description	= 先進的合成開口レーダーで, より大電力を使いより高高度からより広い観測幅で動作します. 注軌道から高解像度標高データを効率的に取得しますが, 非常に狭い高度範囲でしか動作しません. 大電力を消費し昼半球でも夜半球でも動作します.
		
		#autoLOC_SCANsat_SARL_Title				= SAR-L Antenna
		#autoLOC_SCANsat_SARL_Description	= 最先端の合成開口レーダーで, 巨大なアンテナで複数の偏波を送受信します. 高軌道から地表の広い観測幅をマップでき, かつ受信データが豊富であるためバイオームもマップできます. 極めて大電力を消費し昼半球でも夜半球でも動作します.
	
		#autoLOC_SCANsat_Multi_MS1_Title					= MS-1 マルチスペクトルスキャナ
		#autoLOC_SCANsat_Multi_MS1_Description		= この低解像度マルチスペクトルスキャナは対象の地表からの反射光を観測し低解像度の色とバイオームの地図を取得します. このモデルはエントリーレベルの部品を使用しているため, 有効に機能するには低軌道に配置する必要があり, かつ資源を探査することはできません. 小さな電力を消費し, 昼半球でのみ機能します.
		
		#autoLOC_SCANsat_Multi_MSR_Title					= MS-R 改良型マルチスペクトルスキャナ
		#autoLOC_SCANsat_Multi_MSR_Description		= 改良型マルチスペクトルスキャナはまさしく何でも屋で, 惑星地表からの反射光を観測し低解像度の色とバイオームの地図を取得します. さらに地表資源も探査できます. 改良された光学系と電子機器によりエントリーレベルの製品と比較してより高高度で効率的に機能しますが, 狭い観測幅に限られます. 小さな電力を消費し, 昼半球でのみ機能します.
		
		#autoLOC_SCANsat_Multi_MS2A_Title				= MS-2A 発展型マルチスペクトルスキャナ
		#autoLOC_SCANsat_Multi_MS2A_Description	= いくつかのチャネルで光学的波長を詳しく調べることで, この発展型モデルは低解像度の色, バイオームそして資源分布地図を取得します. 小さな電力を消費し, 昼半球でのみ機能します.
	
		#autoLOC_SCANsat_VS1_Title			= VS-1 高解像度イメージャ
		#autoLOC_SCANsat_VS1_Description	= このエントリーレベルの観測望遠鏡は美しい高精細カラー画像を生成します - ただし低軌道から. 小さな電力を消費し, 昼半球でのみ機能します.
	
		#autoLOC_SCANsat_VS3_Title			= VS-3 発展型高解像度イメージャ
		#autoLOC_SCANsat_VS3_Description = この大きく高価なイメージャは, カーバルの非政府組織による高解像度観測の頂点で, 高精細カラー画像を生成すると同時に地表のユニークな特徴を識別できます. 小さな電力を消費し, 昼半球でのみ機能します.
	
		#autoLOC_SCANsat_VS11_Title			= VS-11 偵察衛星イメージャ
		#autoLOC_SCANsat_VS11_Description = *REDACTED*は*REDACTED*な対象物を*REDACTED*ごとに高度*REDACTED*から*REDACTED*の範囲で観測できます. この驚異的な*REDACTED*によって*REDACTED*から*REDACTED*が*REDACTED*であることが推測できます. ほどほどの電力を消費し昼半球でのみ機能します.
	
		#autoLOC_SCANsat_R_Title					= SCAN-R 資源マッパー
		#autoLOC_SCANsat_R_Description		= エントリーレベルの資源マップ機器は低軌道でよく動作しますが, 観測幅は極めて狭い範囲に限られます. ほどほどの電力を消費し昼半球でのみ機能します.
	
		#autoLOC_SCANsat_R2_Title				= SCAN-R2 発展型資源マッパー
		#autoLOC_SCANsat_R2_Description 	= より高い軌道から有用資源を見積もる中級資源イメージャーです. ほどほどの電力を消費し昼半球でのみ機能します.
	
		#autoLOC_SCANsat_RX_Title				= SCAN-RX ハイパースペクトル資源マッパー
		#autoLOC_SCANsat_RX_Description	= 数百チャネルのデータを分析するハイテク資源イメージャで, 有用資源分布をより高軌道から見積もります. 小さな電力を消費し, 昼半球でのみ機能します.
	}
}